// Global colors
:root {
  --yellow: #e5a100;
  --orange: #f25e00;
  --purple: #76279e;
  --red: #ce2b6a;
  --blue: #a9a7eb;
  --green: #376b09;
  --dark-green: #022402;
  --light: #e4dbd6;

  --transition: 400ms ease-in;

  --btn-height: 56px;
}

