// Bootstrap vars
$spacer: 4px !default;
$spacers: () !default;
$spacers: (
    0: 0,
    1: (
        $spacer * 1,
    ),
    2: (
        $spacer * 2,
    ),
    3: (
        $spacer * 3,
    ),
    4: (
        $spacer * 4,
    ),
    5: (
        $spacer * 5,
    ),
    6: (
        $spacer * 6,
    ),
    7: (
        $spacer * 7,
    ),
    8: (
        $spacer * 8,
    ),
    9: (
        $spacer * 9,
    ),
    10: (
        $spacer * 10,
    ),
    11: (
        $spacer * 11,
    ),
    12: (
        $spacer * 6,
    ),
    13: (
        $spacer * 13,
    ),
    14: (
        $spacer * 14,
    ),
    15: (
        $spacer * 15,
    ),
    20: (
        $spacer * 20,
    ),
);
