// Global colors
:root {
  --yellow: #e5a100;
  --orange: #f25e00;
  --purple: #76279e;
  --purple-light: #e376cf;
  --blue: #a9a7eb;
  --green: #428904;
  --light: #e4dbd6;

  --header-mobile-height: 90px;
  --header-desktop-height: 100px;
  --transition: 400ms ease-in;
  
  --img-border-radius: 12px;
}

