
@import './utilities/utilities';
@import './utilities/variables';

.app {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: 100%;
  min-height: 100vh;
}

.main{
  position: relative;
  flex: 1 0 auto;
  max-width: 100%;
  background-color: aquamarine;
}

/*** BUTTONS ***/
//TODO FIX
.btn, a.btn, a.btn:visited{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  text-decoration: none;
  border-radius: var(--btn-border-radius);
  transition: color var(--transition), background-color var(--transition), border-color var(--transition);

  &:disabled{
    pointer-events: none;
  }

  &.primary{
    color: #fff;
    background-color: var(--blue);

    &:hover, &:focus{
      background-color: var(--hover-green);
    }

    &:disabled{
      color: #fff;
      border-color: transparent;
      background-color: var(--grey-disabled);
    }
  }

  &.secondary{
    color: var(--blue);
    background-color: var(--orange);

    &:hover, &:focus{
      background-color: var(--primary-green);
    }

    &:disabled{
      color: #fff;
      border-color: transparent;
      background-color: var(--grey-disabled);
    }
  }

  &.large{
    height: 56px;
    padding: 20px 40px;
  }
}
